body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem 0;
}

div > p {
  padding: 1rem;
}

.select-item {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.invoice-list {
  display: flex;
}

.invoice-list > nav {
  border-right: solid 1px;
  padding: 1rem;
}

.invoice-list > nav a {
  display: block;
  margin: 1rem 0;
}

.invoice-list > main {
  padding: 1rem;
}
